body {
  background-color: #B6B6B6 !important;
}

.main-content {
  /*width: 750px;
  height: 400px;*/
  border-radius: 20px;
  margin: 0 auto;
  margin-top : 25%;
  background: #D1D3D5 ;/*blue url("../images/pexels-brett-sayles-3910141.jpeg");*/
  background-size: 100%;
  /*box-shadow : 6px 6px 1px #ff9900;*/
}
.first-row {
  padding: 10px 10px;
  
}

.actual-weather {
  background: #F2D176;
  margin: 20px 25px 20px 20px;
  border: 2px outset rgba(255, 255, 255, 0.4);
  transition: all 250ms ease-in-out;
}
.actual-weather:hover{
  background: #E392C4;
}

a {
    color:#010101;
    text-decoration: none;
}

.city{
  font-size: 40px;
  color: #010101;
}
.day,
.time,
.space,
.weather {
  font-size: 30px;
  color: #010101;
}
.temperature {
  font-size: 170px;
  text-align: center;
  color: #010101;
;
  
}
.units {
    margin-top: 165px;
    margin-left: -79px;
    font-size: medium;
}

.third-row {
  color : #010101;
}


.weather-icone {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  color: #66B3B7;
}
